COMPOSE_PROJECT_NAME=ghostfolio

# CACHE
# CACHE_REDIS_URL=

REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# POSTGRES
POSTGRES_DB=ghostfolio-db
POSTGRES_USER=user
POSTGRES_PASSWORD=123456

# AWS
AWS_ACCOUNT_ID=103002841798
AWS_REGION="il-central-1"
AWS_REPO_NAME="study/ghostfolio"
APP_VERSION="v0.0.6"

# VARIOUS
ACCESS_TOKEN_SALT=<INSERT_RANDOM_STRING>
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?connect_timeout=300&sslmode=prefer
JWT_SECRET_KEY=<INSERT_RANDOM_STRING>
